<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Delete account" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

			{% if is_active and data %}
            <div class="well bs-component">
                <fieldset>
					<legend>{{ _( "Account deletion information" ) }}</legend>
						<div class="col-lg-12">
							<p class="text-info">{{ _( "What happens to your data when you delete your account:" ) }}</p>
							<ul class="text-info">
								{% if data.email or data.auth_provider %}<li><p>{{ _( "Your <b>private information is deleted</b>:" ) }}</p></li>
									<ul>
										{% if data.email and data.email != 'removed' %}<li><p>{{ _( "Your email address:" ) }} <em>{{ data.email }}</em></p></li>{% endif %}
										{% if data.password %}<li><p>{{ _( "Your <em>password</em>" ) }}</p></li>{% endif %}
										{% if data.auth_provider %}<li><p>{{ _( "Your third party authentication provider(s) and unique identifier(s):" ) }}</p>
											<ul>{% for item in data.auth_provider %}<li><p><em>{{ item.provider_name }}</em> | <em>{{ item.provider_uid }}</em></p></li>{% endfor %}</ul>
										</li>{% endif %}
									</ul>
								{% endif %}
								{% if data.current_display_name %}<li><p>{{ _( "Your <b>public information is anonymised</b>:" ) }}</p></li>
									<ul>
										{% if data.current_display_name %}<li><p>{{ _( "Your display name <em>%(display_name)s</em> is replaced with <em>%(deleted_dn)s</em> throughout.", display_name = data.current_display_name.display_name, deleted_dn = deleted_dn_display ) }}</p></li>{% endif %}
										{% if data.previous_display_names %}<li><p>{{ ngettext( "Your old display name <em>%(previous_display_names)s</em> is removed from your <a href='%(user_page_url)s'>user page</a>.", "Your old display names <em>%(previous_display_names)s</em> are removed from your <a href='%(user_page_url)s'>user page</a>.", data.previous_display_names|count, previous_display_names =  data.previous_display_names|join(', '), user_page_url = data.current_display_name.user_page ) }}</p></li>{% endif %}
										{% if data.has_posts %}<li><p>{{ _( "<em><a href='%(user_page_url)s'>Forum threads and posts</a></em> you published remain visible but the author is anonymous <em>%(deleted_dn)s</em>.", user_page_url = data.current_display_name.user_page, deleted_dn = deleted_dn_display ) }}</p></li>{% endif %}
										{% if data.has_posts %}<p class="text-warning">{{ _( "<b>Warning</b>: once your account is deleted, you will be <b>unable to edit or delete your posts</b>." ) }}</p>
										<p>{{ _( "You can <a href='%(user_page_url)s'>Manually edit or delete individual posts from your user page</a> or check the option below to delete all your posts.", user_page_url = data.current_display_name.user_page ) }}</p>
										{% endif %}
									</ul>
								{% endif %}
							</ul>
						</div>
				</fieldset>
			</div>
			{% endif %}

			<div class="well bs-component">
				<form class="form-horizontal" action="{{ 'accountdelete'|local }}" method="post" id="mainform">
					<input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
					<fieldset>
						<legend>{{ _( "Delete my account" ) }}</legend>
						<div class="form-group}">
							<div class="col-lg-12">
                                <p class="text-warning">{{ _( "You are about to delete your account, are you sure? This cannot be undone." ) }}</p>
								{% if data.has_posts %}
									<div class="checkbox">
										<label>
											<input type="checkbox" name="deleteposts"><p class="text-primary">{{ _( "Delete all my forum posts permanently" ) }}</p>
										</label>
									</div>
								{% endif %}
                                <button class="btn btn-primary" type="submit" name="submittype" value="delete">{{ _( "Yes, delete my account" ) }}</button>
                                <button class="btn btn-default" type="submit" name="submittype" value="cancel">{{ _( "Cancel" ) }}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

	        {% include "incfooter.html" %}
        </div>
    </body>
</html>
