<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "enkiWS" )}}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <h1>{{ _( "Home" )}}</h1>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
                    <p>en-EN - This is a <b>test webservice</b> for an open source project.<br>
                    Accounts and forum posts may be deleted at any time and without warning.</p>
	                <hr>
	                <p>fr-FR - Ceci est un <b>site test</b> pour un projet open source.<br>
                    Comptes et messages de forum peuvent être supprimés à tout moment.</p>
                </div>
            </div>

            {% include "incfooter.html" %}
    	</div>
    </body>
</html>
