<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Change password" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            <div class="well bs-component">
                <form class="form-horizontal" action="{{ 'passwordchange'|local }}" method="post">
                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                    <fieldset>

                        <legend>{{ _( "Change password" ) }}</legend>

                            <div class="form-group {% if error_password %}has-error{% endif%}">
                                <label for="password" class="col-lg-2 control-label">{{ _( "Current password" ) }}</label>
                                 <div class="col-lg-10">
                                     <input class="form-control" type="password" name="password" placeholder="{{ _( "Current password" ) }}" />
                                     {% if error_password %}<label class="control-label">{{ error_password }}</label>{% endif%}
                                 </div>
                            </div>

                            <div class="form-group {% if error_passwordnew %}has-error{% endif%}">
                                <label for="passwordnew" class="col-lg-2 control-label">{{ _( "New password" ) }}</label>
                                 <div class="col-lg-10">
                                     <input class="form-control" type="password" name="passwordnew" placeholder="{{ _( "New password" ) }}" />
                                     {% if error_passwordnew %}<label class="control-label">{{ error_passwordnew }}</label>{% endif%}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-primary" type="submit">{{ _( "Save my new password" ) }}</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <a href="{{ 'passwordrecover'|local }}" class="btn btn-default">{{ _( "Forgot password" )}}</a>
                                </div>
                            </div>

                    </fieldset>
                </form>
            </div>

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
