<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "Thread" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

            {% if not_found %}
                <p class="text-info">{{ not_found|safe }}</p>
                <p>
                    <a href="{{ 'forums'|local }}" class="btn btn-primary">{{ _( "Go back to Forums" ) }}</a>
                </p>

            {% elif data %}
                <ul class="breadcrumb navbar-default">
                    <li><a href="{{ data.forums_url }}">{{ _( "Forums" ) }}</a></li>
                    <li><a href="{{ data.forums_url }}#{{ data.forum.group }}">{{ data.forum.group }}</a></li>
                    <li><a href="{{ data.forum_url }}">{{ data.forum.title }}</a></li>
                    <li>{{ data.thread.title }}</li>
                </ul>

                <h3>{{ _( "Thread" ) }} - {{ data.thread.title }}</h3>
                <p>{{ data.thread.num_posts }} {{ _( "Posts" ) }}</p>

                {% for item in data.list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if item.author_data.display_name == deleted_dn %}{{ deleted_dn_display }}{% else %}<a href="{{ item.author_data.user_page }}">{{ item.author_data.display_name}}</a>{% endif %}
                            - {{ _( "posted" )}} {{ item.time_created.strftime( "%a, %d %b %Y, %H:%M:%S" )}} UTC
                            {% if item.time_updated > item.time_created %}- {% if item.body == deleted_post %}{{ _( "deleted" ) }}{% else %}{{ _( "edited" ) }}{% endif %} {{ item.time_updated.strftime( "%a, %d %b %Y %H:%M:%S" )}} UTC{% endif %}
                            - <a href="{{ item.post_page }}">{{ _( "permalink" ) }}</a>
                            {% if is_logged_in and user_id == item.author_data.user_id %}- <a href="{{ item.post_page|joinurl({ 'change':'edit' }) }}">{{ _( "edit" ) }}</a>
                            {% if item.body != deleted_post %}- <a href="{{ item.post_page|joinurl({ 'change':'delete' }) }}">{{ _( "delete" ) }}</a>{% endif %}{% endif %}
                        </div>
                        <div class="panel-body">
                            {% if item.body == deleted_post %}{{ deleted_post_display }}{% else %}{{ data.markdown( item.body )|safe }}{% endif %}
                        </div>
                    </div>
                {% endfor %}

				{# <!-- pagination --> #}
				<div>
				<ul class="pagination"><li{% if not pagination.page_first %} class="disabled" {% endif %}><a href="{{ pagination.page_first }}">{{ _( "First" ) }}</a></li></ul>
				<ul class="pagination"><li{% if not pagination.page_previous %} class="disabled" {% endif %}><a href="{{ pagination.page_previous }}">{{ _( "Previous" ) }}</a></li></ul>
                <ul class="pagination">
                    {% if pagination.page_list %}
                        {% if pagination.page_list[0][1] != 1 %}<li><a href="{{ pagination.page_list[0][0] }}">...</a></li>{% endif %}
                        {% for page in pagination.page_list %}<li{% if page[1] == pagination.page_current[1] %} class="active"{% endif %}><a href="{{ page[0] }}">{{ page[1] }}</a></li>{% endfor %}
                        {% if pagination.page_last and pagination.page_last != pagination.page_list[-1][0] %}<li><a href="{{ pagination.page_list[-1][0] }}">...</a></li>{% endif %}
                    {% endif %}
                </ul>
				<ul class="pagination"><li{% if not pagination.page_next %} class="disabled" {% endif %}><a href="{{ pagination.page_next }}">{{ _( "Next" ) }}</a></li></ul>
				<ul class="pagination"><li{% if not pagination.page_last %} class="disabled" {% endif %}><a href="{{ pagination.page_last }}">{{ _( "Last" ) }}</a></li></ul>
				</div>

				{# <!-- reply --> #}
                {% if is_logged_in %}
                    {% if not show_input %}
						<form class="form-horizontal" action="{{ pagination.page_last }}#bottom" method="post" id="mainform">
                            <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
							<button class="btn btn-primary" type="submit" name="submittype" value="input" >{{ _( "Reply" ) }}</button>
						</form>
                    {% else %}
                        {% if display_name %}
                            <div class="well bs-component">
                                <form class="form-horizontal" action="{{ pagination.page_current[0] }}#bottom" method="post" id="mainform">
									<input type="hidden" name="preventmultitoken" value="{{ preventmultitoken }}">
                                    <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
                                    <fieldset>
                                        <legend>{{ _( "Reply " ) }}</legend>
                                        <div class="form-group {% if error %}has-error{% endif%}">
                                            <label for="post_body" class="col-lg-1 control-label">{{ _( "Post" ) }}</label>
                                            <div class="col-lg-11">
                                                <textarea class="form-control" rows="6" id="textArea" name="post_body" placeholder="{{ _( "Your text" ) }}">{{ postbody }}</textarea>
                                                {% if error %}<label class="control-label">{{ error }}</label>{% endif%}
                                                <p class="text-info">{{ _( "Use <a href='%(url)s' target='_blank'>markdown</a> for formatting.", url = "http://daringfireball.net/projects/markdown/syntax" ) }} {{ ngettext( "Maximum post length: %(length)s character.", "Maximum post length: %(length)s characters.", maxpostlength, length = maxpostlength ) }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-11 col-lg-offset-1">
                                                <button class="btn btn-info" type="submit" name="submittype" value="preview">{{ _( "Preview" ) }}</button>
                                                <button class="btn btn-primary" type="submit" name="submittype" value="submit">{{ _( "Submit new post" ) }}</button>
                                                <button class="btn btn-default" type="submit" name="submittype" value="cancel">{{ _( "Cancel" ) }}</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            {% if preview %}
                                <h4 class="text-info">{{ _( "PREVIEW" ) }}</h4>
                                <hr>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        {{ display_name }} - {{ _( "date and time submitted UTC" ) }} - {{ _( "permalink" ) }}
                                    </div>
                                    <div class="panel-body">
                                        {{ data.markdown( preview )|safe }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}

                        {% else %}
                            <form class="form-horizontal" action="{{ pagination.page_current[0] }}" method="post" id="mainform">
	                            <input type="hidden" name="CSRF" value="{{ CSRFtoken }}">
	                            <p class="text-info">{{ _( "Please set up your display name to post an answer." ) }}</p>
                                <button class="btn btn-info" type="submit" name="submittype">{{ _( "Set display name" ) }}</button> {# will be handled by enkilibdisplayname.ensure_has_display_name #}
                            </form>
                        {% endif %}
					{% endif %}
	            {% else %}
	                <div>
		                <p class="text-info">{{ _( "Please log in or create an account to post an answer." ) }}</p>
		                <a href="{{ 'login'|local }}" class="btn btn-primary">{{ _( "Log in" ) }}</a>
		                <a href="{{ 'register'|local }}" class="btn btn-primary">{{ _( "Sign up" ) }}</a>
	                </div>
                {% endif %}
            {% endif %}
	        <a href id="bottom"></a> {# <!-- always scroll to bottom --> #}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
