<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "User" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

	        {% if display_name_data.entity == deleted_dn %}
                <h3>{{ deleted_dn_display }}</h3>
            {% else %}
                <h3>{{ _( "User" ) }} {{ display_name_data.entity.display_name }}</h3>
                {% if display_name_data.list %}
                    <p>{{ ngettext( "Past display name:", "Past display names:", display_name_data.list | count ) }} {{ display_name_data.list | join(', ') }}</p>
                {% endif %}
            {% endif %}

	        {% for page_extension in page_extensions %}
	            {% set data  = page_extension[ 1 ] %}
				{% include page_extension[ 0 ] %}
	        {% endfor %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
