<!doctype html>
<html lang="en">

    <head>
        {% include "inchead.html" %}
        <title>{{ _( "User" ) }}</title>
    </head>

    <body>
        <div class="container">

            {% include "incnavbartop.html" %}
            {% include "incmessageinfo.html" %}

	        {% if display_name_data %}
	            {% if display_name_data.entity == deleted_dn %}
	                <h3>{{ deleted_dn_display }}</h3>
	            {% else %}
	                <h3>{{ _( "User" ) }} {{ display_name_data.entity.display_name }}</h3>
	                {% if display_name_data.list %}
	                    <p>{{ ngettext( "Past display name:", "Past display names:", display_name_data.list | count ) }} {{ display_name_data.list | join(', ') }}</p>
	                {% endif %}
	            {% endif %}
	        {% endif %}

	        {% include "incpageextensions.html" %}

            {% include "incfooter.html" %}
        </div>
    </body>
</html>
